* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Open sans', sans-serif;
    --text-logo: 600 2rem/160% var(--font-family);
    --text-xl: 400 3rem/140% var(--font-family);
    --text-md: 600 1.25rem/140% var(--font-family);
    --text-sm: 400 1rem/140% var(--font-family);



    --gray-500: #454343;
    --color-name: #000000d0;

    scroll-behavior: smooth;
}


.container {
    margin: 0 auto;
   max-width:60rem;
}