#primary {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: .75rem 14rem;

    h1  {
        font: var(--text-logo);
        font-family: 'Jersey', serif;
        color: rgb(114, 26, 114);
    }

    ul {
        display: flex;
        gap: 3rem;
    }
    
    li {
        font: var(--text-md);
        list-style: none;
        padding-block: 2px;
    }

    a:hover {
        border: 1px solid var(--gray-500);
        border-inline: none;
        border-top: none;
    }

    a {
        color: var(--gray-500);
        text-decoration: none;
    }
    
}